@import url('https://fonts.googleapis.com/css?family=Arial');
body {
  font-family: 'Arial', sans-serif;
}
.header1 {
  color: #00ff00;
  font-size: 24px;
  text-align: center;
}
.header2 {
  color: #88ff00;
  font-size: 20px;
  font-weight: bold;
}
.body1 {
  color: #fff;
  font-size: 16px;
}
.body2 {
  color: #cc0000;
  font-size: 18px;
}
